@page "/CustomerInfo/{id:int}"


<div class="rz-m-0">
    <RadzenBreadCrumb>
        
        <RadzenBreadCrumbItem Path="/customerlist" Text="Customers" />
        @{
            string path = $"/CustomerInfo/{id}";
        }
        
        <RadzenBreadCrumbItem Path=@path Text="Customer Info"> 
            <ChildContent>
                <div style="display: flex; align-items: center;">
                    <RadzenIcon Icon="info" Style="margin-right: 8px;" />
                    Customer Info
                </div>
            </ChildContent>
        </RadzenBreadCrumbItem>

    </RadzenBreadCrumb>
</div>



<div class="row">
    <div class="col-md-6 d-flex align-items-end justify-content-start">
        <p class="page-title">Customer Info </p>
    </div>
    <div class="col-md-6 d-flex align-items-end justify-content-end">
        <RadzenButton Click="@Navigation" ButtonStyle="ButtonStyle.Danger" Icon="cancel" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Text="Cancel" />
    </div>
</div>

<RadzenCard class="rz-background-color-white rz-color-black rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 0rem; margin-top: 1.5em ;">
    <RadzenText TextStyle="TextStyle.H6" class="rz-color-black"><strong>Customer Information</strong></RadzenText>
    <RadzenRow RowGap="0">
        <RadzenColumn SizeSM="4">
            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-black rz-display-flex rz-mt-4 rz-mb-0">Customer Name</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-color-black"><b>@(@customer.CustomerName)</b></RadzenText>
       @if (!string.IsNullOrEmpty(customer.Email))
        {
            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-black rz-display-flex rz-mt-4 rz-mb-0">Email</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-color-black"><b>@(@customer.Email)</b></RadzenText>
        }
            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-black rz-display-flex rz-mt-4 rz-mb-0">Mobile</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-color-black"><b>@(@customer.Mobile)</b></RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="8">
            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-black rz-display-flex rz-mt-4 rz-mb-0">Address</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-color-black"><b>@(@customer.Address)</b></RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-black rz-display-flex rz-mt-4 rz-mb-0">Total Price</RadzenText>
            <RadzenText style="font-size: 1.5rem;" TextStyle="TextStyle.Subtitle1" class="rz-color-black"><b>@priceFormattingService.FormatPrice(customer.TotalPrice, "tnd")</b></RadzenText>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

@code {
    [Parameter]
    public int id { get; set; }

    Customer customer = new Customer();

    protected override async Task OnInitializedAsync()
    {
        
        customer = await customerService.GetByIdDetail(id);
        if (customer == null)
        {
            navigationManager.NavigateTo("/NotFound");
            return;
        }
    }
    public void Navigation()
    {
        navigationManager.NavigateTo("/customerlist");

    }
}
