@page "/categorylist"

<div class="row">
    <div class="col-md-6 d-flex align-items-end justify-content-start">
        <h3> Categories: @totalRecords </h3>
    </div>
    <div class="col-md-6 d-flex align-items-end justify-content-end">
        <RadzenButton class="button-Add-New" Icon="add_circle_outline" Click="@InsertRow" Style="background-color:	#FF9900;" Text="Add New category" Disabled="@isButtonDisabled"></RadzenButton>
    </div>
</div>



@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (categories == null || categories.Count == 0)
    {
        <tr>
            <td colspan="3">No Records to display</td>
        </tr>
    }
    else
    {
        <RadzenDataGrid @ref="categoryGrid" Density="Density.Compact"  AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@categories" TItem="Category" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" RowCreate="@OnCreateRow" RowUpdate="@OnUpdateRow" EditMode="DataGridEditMode.Single"  Style="margin-top:20px">
            <Columns>
                <RadzenDataGridColumn TItem="Category" Property="CategoryName" Title="Category" Width="200px">
                    <EditTemplate Context="category">
                        <RadzenTextBox Placeholder="Name.." @bind-Value="@category.CategoryName" Style="width:100%" />
                    </EditTemplate>

                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Category" Title="Actions" Width="100px">
                    <Template Context="category">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.ExtraSmall" Click="@(args => EditRow(category))" @onclick:stopPropagation="true">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.ExtraSmall" class="my-0 ms-1" Click="@(args => ShowInlineDialog(category))">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="category">

                        <RadzenButton Icon="check" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.ExtraSmall" Click="@((args) => SaveRow(category))">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="cancel" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.ExtraSmall" class="my-1 ms-1" Click="@(args => CancelEdit(category))">
                        </RadzenButton>

                    </EditTemplate>

                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
}




@implements IDisposable
@code {

    RadzenDataGrid<Category> categoryGrid;
    Category categoryToInsert;
    Category categoryToUpdate;
    List<Category> categories;
    private string searchTerm;
    bool? isConfirmed;
    bool isButtonDisabled;
    private string SearchTerm

    {
        get { return searchTerm; }
        set { searchTerm = value; }
    }
    int totalRecords;
    string sortColumnName = "CategoryId";
    string sortDir = "DESC";

    protected override async Task OnInitializedAsync()
    {
        totalRecords = await categoryService.Count();
        categories = await categoryService.ListAll(sortColumnName, sortDir, searchTerm);
    }
    public void Dispose()
    {
        if (dialogService != null && dialogService.Close != null)
        {
            dialogService.Close();
        }
    }
    void OnCreateRow(Category category)
    {
        categoryService.Create(category);
    }
    void OnUpdateRow(Category category)
    {
        categoryService.Update(category);
    }
    async Task InsertRow()
    {
        categoryToInsert = new Category();
        await categoryGrid.InsertRow(categoryToInsert);
        isButtonDisabled = true;
    }
    async Task EditRow(Category category)
    {
        categoryToUpdate = category;
        await categoryGrid.EditRow(category);
        isButtonDisabled = true;

    }
    async Task Delete(Category category)
    {

        if (category == null)
        {
            return;
        }
        try
        {
            await categoryService.Delete(category.CategoryId);
            dialogService.Close(true);
            await OnInitializedAsync();

        }
        catch (SqlException ex)
        {
            if (ex.Number == 547)
            {
                WarningMessage($"{category.CategoryName} has associated products. You cannot delete this category.");
                dialogService.Close(true);
            }
        }
    }

    async Task ShowInlineDialog(Category category)
    {
        var result = await dialogService.OpenAsync("Confirmation", ds =>
    @<RadzenStack Gap="1.5rem">
        <p>Are you sure to delete <b>@category.CategoryName</b> from your list?</p>
        <div class="custom-button-group">
            <RadzenButton Text="Ok" Click="((args) => Delete(category))" Style="width: 80px;" ButtonStyle="ButtonStyle.Success" />
            <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Danger" />
        </div>
    </RadzenStack>);
    }
    async Task SaveRow(Category category)
    {
        if (string.IsNullOrEmpty(category.CategoryName))
        {
            WarningMessage("Category Name is Required");
            isButtonDisabled = false;
            return;
        }
        if (categories.FirstOrDefault(c => c.CategoryName == category.CategoryName && c.CategoryId != category.CategoryId) != null)
        {
            WarningMessage("Category Name already exists");
            isButtonDisabled = false;
            return;
        }
       
        categoryGrid.UpdateRow(category);
        OnInitializedAsync();
        isButtonDisabled = false;
    }
    void WarningMessage(string messsage)
    {
        ShowNotification(new NotificationMessage { Summary = messsage, Duration = 4000 });
    }
    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
        OnInitializedAsync(); 
    }
    void CancelEdit(Category category)
    {
        categoryGrid.CancelEditRow(category);
        isButtonDisabled = false;
        OnInitializedAsync();
    }
}

